.admin {
    padding: 20px;
    padding-top: 35px;
    background-color: #fde74c;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    color: #1f271b;
    font-weight: bolder;
  }
  