.admin {
    padding: 20px;
    padding-top: 35px;
    background-color: #fde74c;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    color: #1f271b;
    font-weight: bolder;
}
/* label stilying */
#formFighter label {
    color: white;
    font-family: "Press Start 2P";
}
/* submit button */
.submit-button{
    padding: 20px !important;
    font-family: "Press Start 2P";
    box-shadow: -5px 29px 62px 34px rgba(0,0,0,0.75);
    display: inline;
}
#table-fighters {
    color: white;
}
#table-fighters tr:hover {
    background-color: rgb(241, 120, 3);
}
