* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Footer */
footer {
    color: white;
    font-size: small;
}

/* Modal login */
.modal-content {
    color: white;
}