*{
    text-decoration: none;
}
*:active{
    text-decoration: none;
}


.seleccion{
    width: 400px !important;
  }
header{
    background-color: #1f271b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.admin{
    padding: 20px;
    padding-top: 35px;
    background-color: #fde74c;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    color: #1f271b;
    font-weight: bolder;
}
.agregar{
    margin: 30px;
    margin-left: 40%;
    margin-bottom: 5%;
    padding: 40px !important;
    box-shadow: -5px 29px 62px 34px rgba(0,0,0,0.75);
    font-weight: bolder !important;
    font-size: larger !important;
} 
.logo{
    width: 800px;
    margin-top: -40px;
    
}
body{
    background-image: url(img/red_orange_black_179383834\ \(1\).jpg);
}
.table td{
    color: white;
    
}
.table td.expand{
    width: 1%;
}
.row{
    background-color: #fb8537;
    width: 90%;
    padding-left: 30% !important;
   margin-top: 5%;
   transform: skewY(10deg);
}
.unskew{
    transform: skewY(-10deg);
}